.footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #b3bcec;
  color: #f5f5f5;
}

.footer h4 {
  margin-bottom: 1rem;
  color: #ffffff;
}
