.header {
  display: flex;
  padding: 2rem;
  background: linear-gradient(
    360deg,
    rgba(92, 108, 192, 1) 0%,
    rgba(33, 53, 157, 1) 100%
  );
  box-shadow: 0 4px 8px #bdbdbd;
  color: #ffffff;
}

.header nav {
  width: 100%;
}

.header h1 {
  display: inline-block;
}

.header ul {
  display: flex;
  align-items: center;
}

.header li:first-child {
  flex-grow: 1;
}

.header li:not(:first-child) {
  margin: 0 1rem;
}

.header a {
  color: #ffffff;
  transition: color 0.33s;
}
