/*
 * This line imports normalize.css rules that match our browserslist field. It
 * is enabled by postcss-normalize.
 * https://github.com/csstools/postcss-normalize
 */
@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Cabin|Open+Sans&display=swap');

html {
  margin: 0;
  font: 16px 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #5c6bc0;
}

.bg-primary {
  background-color: #5c6bc0; /* Indigo 400 */
}

.color-primary {
  color: #5c6bc0; /* Indigo 400 */
}
